/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

/* General */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bela);
}

#main-container {
    width: 100%;
    height: 100vh;
}

.bg-primary {
    background-color: var(--green3) !important;
}

/* Custom colors */
:root {
    --green1:#1e453e;
    --green2:#306844;
    --green3: #455b55;
    --green4: #455b5584;
    --decline: #841919;
    --confirm: #3a8848;
    --white: #ffffff;
    --white-transparent: rgba(255, 255, 255, 0.691);
    --grey: #E5E5E5;
    --dark: #020a0c;
    --shadow-dark: #4e4d4d;
    --shadow-light: rgba(33, 55, 99, 0.11)
}

/* Fonts */
h1 {
    font-weight: bold;
}

/* Shadows */
.shadow-dark {
    box-shadow: 0px 12 25px 0px var(--shadow-dark);
}

.shadow-light {
    box-shadow: 0px 10px 20px -6px var(--shadow-light);
}


/* Universal navbar style */
nav {
    padding: 12px !important;
    background-color: var(--green1);
    font-size: 16px;
    color: var(--white)
}

nav i {
    font-size: 12px;
    padding-right: 2px;
}

nav li {
    margin-right: 12px !important;
}

nav .nav-link {
    color: var(--white-transparent)
}

nav button {
    color: var(--white-transparent);
}

.navbar-hover:hover {
    color: var(--white);
}

.navbar-toggler {
    border: transparent !important;
}

.active-link {
    color: var(--white) !important;
}

/* Buttons */
.custom-button i {
    padding-right: 6px;
}

/* Cards */
.card {
    background-color: var(--white);
    border-color: var(--grey);
    border-width: 1px;
    border-radius: 1.5rem;
    text-align: left;
    transition: transform .1s;
    flex: 0 0 auto;
    overflow: hidden;
}

.card-table {
    background-color: var(--white);
    border-color: var(--grey);
    border-width: 1px;
    border-radius: 1.5rem;
    text-align: left;
    transition: transform .1s;
    flex: 0 0 auto;
    overflow: hidden;
}

.card-body {
    padding: 16px;
}

.timeslot {
    width: auto;
    border-radius: 12px ;
    border-color: var(--grey);
    border-style: solid;
    border-width: 1px;
    background-color: var(--white);
    vertical-align: middle;
}

.user-data {
    width: 100% !important;
    border-bottom: 1px solid var(--grey);
}

/* Pagination */
.pagination .page-link {
    border-color: var(--grey);
    color: var(--green1);
}

.pagination .page-item.active .page-link {
    background-color: var(--green1);
    border-color:  var(--green1);
    color: var(--white);
}

.edit-button {
    border-radius: 8px;
    border-color: var(--grey) !important;
    color: var(--green3) !important;
}

.edit-button:hover {
    background-color: var(--green3) !important;
    border-color: var(--green3) !important;
    color: var(--white) !important;
}

/* Search  */
.title-row h1 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.search-field {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.search-button {
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: var(--green3) !important;
    color: var(--green1) !important;
}

.search-button:hover {
    background-color: var(--green3) !important;
    color: var(--white) !important;
}

.reset-button {
    border-radius: 8px;
    border-color: var(--grey) !important;
    color: var(--green3) !important;
    margin-left: 1rem !important;
}

.reset-button:hover {
    background-color: var(--green3) !important;
    border-color: var(--green3) !important;
    color: var(--white) !important;
}

.search-field {
    border-top-left-radius: 8;
    border-bottom-left-radius: 8;
    border-color: var(--grey);
    height: 38px;
}

/* Dropdown */
.dropdown-menu {
    border-color: var(--grey) !important;
}

.dropdown-item:active {
    background-color: var(--green3) !important;
}

.dropdown-button {
    border-radius: 8px;
    width: 100%;
    border-color: var(--grey) !important;
    color: var(--green1) !important;
}

.dropdown-button:hover {
    background-color: var(--green3) !important;
    border-color: var(--green3) !important;
    color: var(--white) !important;
}

/* Datepicker */
ngb-datepicker {
    border-radius: 8px !important;
    border-color: var(--grey) !important;
}

.ngb-dp-header {
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.ngb-dp-navigation-chevron {
    color: var(--green3) !important;
}

.ngb-dp-navigation-chevron:hover {
    color: var(--green1) !important;
}

.ngb-dp-weekday {
    font-style: normal !important;
    color: var(--green3) !important;
}

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

