
.remove-button {
    color: var(--white) !important;
    background-color: var(--green3) !important;
    width: 38px !important;
    height: 38px !important;
    padding: 0 !important;
    text-align: center !important;
    vertical-align: middle !important;
}

h5 {
    font-size: medium;
    font-weight: bold;
}

.fa-solid {
    margin-right: 8px !important;
    color: var(--green3) !important;
}