<div class="d-flex justify-content-between align-items-center shadow-light timeslot">
    <div class="row">
        <div class="col-12 mb-2">
            <p class="m-0">Full name: <b>{{ firstName }} {{ lastName }}</b></p>
        </div>  
        <div class="col-12 mb-4">
            <p class="m-0">Email: <b>{{ email }}</b></p>
        </div>       
        <div class="col-12">
            <button type="button" class="btn btn-outline-secondary edit-button" (click)="edit()"><i class="fa-regular fa-calendar-plus"></i> Add absence</button>   
        </div>        
    </div>
</div>