<div id="main-container" class="users pt-5">
    <div class="container">

      <div class="row title-row">

        <div class="col-sm-12 col-md-6 col-lg-8 mb-5">
          <div class="d-flex align-items-center justify-content-between">
            <h1 class="mb-4 text-left">Users</h1>
            <button class="btn btn-outline-secondary edit-button" type="button" (click)="showAddUserModal()"><i class="fa-solid fa-user-plus"></i> Add User</button>
          </div>
        </div>
      
        <div class="col-sm-12 col-md-6 col-lg-4 d-flex text-right mb-5">
          <div class="input-group align-items-center">
            <input type="text" class="form-control search-field" placeholder="Search users..." [formControl]="searchTermForm">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary search-button" type="button" (click)="searchUsers()"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </div>
            <div>
              <button class="btn reset-button" type="button" (click)="resetSearch()"><i class="fa-solid fa-arrows-rotate"></i></button>
            </div>
          </div>
        </div>
        

      </div>
      

      <div *ngIf="users.length > 0; else noResultsMessage" class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
        <div class="col mb-1" *ngFor="let user of users | slice: (page-1) * pageSize : page * pageSize">
          <app-user-card
            [firstName]="user.FirstName"
            [lastName]="user.LastName"
            [id]="user.Id"
            [email]="user.Email"
            [usersObject]="usersObject"
            [absenceDefinitions]="absenceDefinitions"
          ></app-user-card>
        </div>
      </div>
      
      <ng-template #noResultsMessage>
        <p>No results</p>
      </ng-template>
      
      <div class="d-flex justify-content-center mt-5 mb-5">
        <ngb-pagination
          [(page)]="page"
          [pageSize]="pageSize"
          [maxSize]="5"
          [collectionSize]="users.length">
        </ngb-pagination>
      </div>
      
      
    </div>

    <!-- Authorization modal -->
    <app-authorization-modal></app-authorization-modal>

    <!-- Add user modal -->
    <app-add-user-modal></app-add-user-modal>

    <!-- Edit user modal -->
    <app-edit-user-modal></app-edit-user-modal>
    
</div>

