<div class="modal fade" id="ModalFormAuthorize" tabindex="-1"
  aria-labelledby="ModalFormAuthorizeLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card shadow-dark">
      <div class="modal-body p-0">
        <div class="myform">
    
          <div class="mb-4">
            <div class="row">
              <div class="col-12 d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-clock-rotate-left check"></i>
                <h1 class="mb-0">Token expired!</h1>
              </div>
            </div>
          </div>
  
          <button class="btn btn-light custom-button" (click)="hideModal()"><i class="fa-sharp fa-solid fa-shield-check"></i> Enter credentials</button>
          
        </div>
      </div>
    </div>
  </div>
</div>